body{
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#myNavbar{
    overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}
.w3-panel{
    width: 40%;
    margin-left: 30%;
}
.none{
display: none;
}
.block{
 display: block;
}