body{
    background: url('https://unsplash.it/1200/800/?random');
    background-repeat: no-repeat;
    background-size: 100%;
}
#myNavbar{
    overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}