@media only screen and (min-width: 1224px) {
  /* Styles */
}
body {
  background: url("https://unsplash.it/1200/800/?random");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.w3-panel {
  width: 40%;
  margin-left: 30%;
}
#myNavbar {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}
.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
  font-family: "sans-serif";
  background-color: #57636e;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
  border-radius: 50px;
}

#score {
  color: #5a6772;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: #5a6772;
}

.buttons {
  margin-top: 30px;
  margin-right: 5%;
}

#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #778897;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}
#quizDiv {
  /* margin-top: 2%; */
  margin-top: 4%;
}
.Quizes {
  background: #af6666;
  text-align: center;
  width: 55%;
  margin: 0 auto;
  height: 19vh;
}
.quizLogo {
  font-weight: bold;
  font-size: 8vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffc4c4;
  text-align: center;
  text-shadow: 23px 11px 10px rgb(86, 56, 56, 0.3);
}
.list {
  background: rgba(0, 252, 76, 0.3);
}
.listsLogo {
  margin-top: -20px;
    height: 20vh;
    text-align: center;
    color: rgb(253, 148, 148);
    font-size: 6vw;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 14px 1px 3px rgb(86, 56, 56, 0.3);
}
#lists {
  opacity: 1;
  text-align: center;
  margin-top: -10%;
  overflow-y: auto;
  /* height: 51vh; */
}
.w3-red {
  width: 70%;
  border: red;
  height: 11%;
  font-size: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}
.remove {
  border: red;
  background: lightblue;
  width: 5%;
  font-size: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}
.w3-modal-content {
  width: 900px;
  height: 58vh;
}
.quizPassword {
  width: 40%;
  margin-left: 30%;
}
.radio {
  height: 20px;
  width: 20px;
}
#modal {
  font-size: 28px;
  font-family: inherit;
}
